<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firebasedemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/splash1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash11"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UpdateContactInfo"></activity>
        <activity android:name=".DisplayContactInfo" />
        <activity android:name=".SeeImgs" />
        <activity android:name=".AddImgs" />
        <activity android:name=".Add_Delete_Items" />
        <activity android:name=".adminCategoriesList" />
        <activity android:name=".FullScreenImageActivity" />
        <activity android:name=".CategoriesListActivity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity android:name=".Sign_in" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>